.dashboard-main-body {
  padding-top: 2em;
  padding-bottom: 2em;
}

body.dashboard.show,
body.dashboard.bookmarks,
body.dashboard.top_articles {
  .main-container {
    background: $background-gray;
  }
  .stories-wrapper > .story-panel {
    background: $white;
    padding: 1em;
	padding-top: 1em;
	margin-left: 10px;
	line-height: 21px;
	min-height: 90px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    @include border-radius($radius);
  }
}

body.dashboards.top_articles {
  .top-story-rank {
    padding-bottom: 1.2em;
  }
  .count-button-wrapper {
    margin: auto;
    width: 40px;
    height: 40px;
  }
}
