body.sessions.new,
body.registrations.new {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
	margin-left: center;
    font-size: 28px;
    font-weight: 100;
    width: 100%;
    border: 1px solid #999;
    outline: 1px;
    background-color: rgba(0, 0, 255, 0.1);
  }
  .form-input-wrapper {
    padding: 1em 0;
  }
  .remember-me {
    display: inline-block;
    color: $font-black;
  }
  .devise-links {
    margin-top: 2em;
    a {
      color: $font-black;
    }
  }
}
