<div class="like-button-wrapper">
  <% if user_signed_in? %>
    <%= react_component('LikeButton',
                        { liked: current_user.liked?(story),
                          likeCount: story.likes.size,
                          likeEndpoint: api_story_likes_path(story),
                          unlikeEndpoint: api_story_likes_path(story),
                          likeableType: 'Story',
                          likeableId: story.id,
                          overlayHeading: "People liked #{story.title}",
                          overlayEndpoint: api_likers_path(story_id: story.id)}) %>
  <% else %>
    <%= button_to '', method: :get, class: 'like-button', data: { behavior: 'trigger-overlay' } do %>
      <i class="fa fa-heart-o"></i><span class="hide-text">Like</span>
    <% end %>
    <span class="like-count"><%= story.likes.size %></span>
  <% end %>
</div>
