<div class="story-list-item">
  <div class="flex-container">
    <div class="avatar-wrapper">
      <%= avatar_for(story.user, size: 40) %>
    </div>
    <div class="story-info">
      <strong class="pli-title"><%= link_to story.title, story %></strong><br/>
      <small class="pli-username"><%=link_to story.username, story.user %></small>
    </div>
    <% if story.picture? %>
      <div class="pli-picture-wrapper">
        <%= image_tag story.picture.url(:thumb) %>
      </div>
    <% end %>
  </div>
</div>